@import 'utilities.css';
:root{
    --primary:#3DCFD3;
    --dark:#161616;
    --pure:#FFFFFF;
    --ternary:#898989;
    --light:#cfcfcf;
    --secondary:#070606;
}
body{
    font-family: 'Poppins' ,sans-serif;
    background: var(--light);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    --webkit-font-smotthing: antialiased;
}
html{
    scroll-behavior: smooth;
}

header{
    background: var(--dark);
    clip-path: polygon(0 0,100% 0,100% 100%,75% 85%,0 100%);
}

.container{
    max-width: 1152px;
    padding: 0 15px;
    margin: 0 auto;
}
/* header nav{
    position: Fixed;
} */
header nav .left a{
    color: var(--pure);
    text-decoration: none;
    margin-right: 2rem;
    text-transform: uppercase;
    transition:all .3s ease;
}

header nav .left a:hover{
    color: var(--primary);
}
header nav{
    padding: 2rem 0;
}

header nav .branding{
    margin-right: 3rem;
}

.hero{
    padding: 3rem 0;
}
.hero .left img{
    width: 400px;
    margin-bottom: -7px;
}

.hero .right{
    color: var(--pure);
}

.hero .right h6{
    font-size: 1.6rem;
    color: var(--primary);
    margin-bottom:0.5rem ;
}

.hero .right h1{
    font-size: 4rem;
    font-weight: 100;
    line-height: 1.2;
    margin-bottom: 2rem;
}

.hero .right h1 span{
    color: var(--primary);
}

.hero .right p{
    line-height: 1.9;
    margin-bottom: 2rem;
}

.hero .right{
    margin-top: -7rem;
}

section{
    padding: 6rem 0;
}

section.about .about-me-img{
    height: 450px;
}

section.about h1{
    margin-bottom: 1rem;
    font-size: 1.6rem;
    font-weight: 400;
}

section.about h1 span{
    color: var(--primary);
}

section.about h3{
    font-size: 1rem;
    margin-bottom: 1rem;
    font-weight: 400;
}

section.about a{
    font-family: 'Lato' ,sans-serif;
    color: var(--ternary);
    line-height: 1.9;
    margin-bottom: 2rem;
}

section.about .social{
    display: flex;
}

section.about .social a{
    background: var(--dark);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 0.6rem;
    transition: all .3s ease;
}

section.about .social a img{
    width: 100%;
    height: 100%;
    padding: 0.5remS;
}

section.about .social a:hover{
    background: var(--primary);
}

.section-heading{
    color: var(--secondary);
    text-align: center;
    margin-bottom: 1rem;
    line-height: 0.5;
    margin-top: 0px;
    padding-top: 30px;
}

.section-heading + p{
    color: var(--ternary);
    font-family: 'Lato' ,sans-serif;
    margin-bottom: 8rem;
    text-align: center;
}

.section-heading span{
    color: var(--primary);
}
/* 
section.services{
    background: var(--pure);
} */

section.services .card-wrapper{
    display: grid;
    grid-template-columns:repeat(3 ,1fr);
    grid-column-gap:2rem;
    grid-row-gap: 6rem;
}

section.services .card-wrapper .card{
    background: var(--pure);
    padding: 3rem 2rem;
    position: relative;
    padding-top: 5rem;
    text-align: center;
    transition: all .3s ease;
}

section.services .card-wrapper .card img{
    position: absolute;
    top: -3.5rem;
    left: 50%;
    transform: translate(-50%);
}

section.services .card-wrapper .card h2{
    font-weight: 400;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

section.services .card-wrapper .card p{
    font-family: 'Lato' ,sans-serif;
    color: var(--ternary);
    line-height: 1.6;
}

section.services .card-wrapper .card:hover{
    background: var(--dark);
}

section.services .card-wrapper .card:hover h2, section.services .card-wrapper .card:hover p{
    color: var(--pure);
}

section.freelancer{
    text-align: center;
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(../images/camera.png);
    color:var(--pure) ;
    clip-path: polygon(0 0,100% 0,100% 100%,67% 80%,0 100%);
    padding-bottom: 14rem;
}

section.freelancer h1{
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

section.freelancer p{
    margin-bottom: 2rem;
    font-family: 'Lato', sans-serif;
}

section.reviews{
        background: var(--light);
}

section.reviews .slider .slide img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 2rem;
}

section.reviews .slider .slide{
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 4rem 10rem;
    border: inset;
}

section.reviews .slider .slide p{
    font-family:'Lato', sans-serif;
    color: var(--ternary);
}

section.reviews .slider .slide span{
    font-size: 1rem;
}

section.reviews .slider-dots .dots{
    list-style-type: none;
    display: flex!important;
    justify-content: center;
}


section.reviews .slider-dots{
    margin-top: 3rem;
}


section.reviews .slider-dots button{
    font-size: 0;
    width: 10px;
    height: 8px;
    margin-right:0.3rem ;
    border: none;
    outline: none;
    background: var(--ternary);
    border-radius: 50px;
    cursor: pointer;
}

section.reviews .dots li.slick-active button{
    background: var(--primary);
    width: 30px;
}
/* Contact */
#contact{
    position: relative;
    padding: 0px;
    border-radius: 50%;
}

#contact::before{
   content: "";
   position: absolute;
   height: 500px;
   width: 100%;
   z-index: -1;
   opacity: 0.7;
   background: url('../images/contact\ bg.jpg') no-repeat center center/cover;
}

#contact-box{
   display: flex;
   justify-content: center;
   align-items: center;
   padding-bottom: 3px;
   width: 40%;
   padding: 34px;
   /* color: var(--pure); */
}
#contact-box button{
    margin-top: 10px;
}

#contact-box label{
   font-size: 1.3rem;
   font-family: 'Ubuntu', sans-serif;
}

#contact input{
   width: 100%;
   padding: 0.5rem;
   border-radius: 9px;
   font-size: 1rem;
}
